.hero-head > span {
  color: #4e71ff;
  transition: all 500ms ease;
}
.hero-head:hover.hero-head > span {
  font-size: 4rem;
  animation: colorChange 1s infinite linear;
}


@keyframes colorChange {
  0% {
    color: #4e71ff;
  }
  50% {
    color: #5cf8ad;
  }
  100% {
    color: #4e71ff;
  }
}

@media screen and (max-width: 700px) {
  .hero-head:hover.hero-head > span {
    font-size: 2.3rem;
    animation: colorChange 1s infinite linear;
  }
}
